<div class="new_main-container">
  <div class="new_map-container" >
    <%= render 'shared/map', markers: @markers %>
  </div>
  <div class="new_cards-container">
    <% if @start_time.blank? %>
      <%= render 'pages/when', address: @address %>
      <div class="home-video">
          <%= cl_video_tag("4k_Aerial_Beach_Footage", :loop => true, :autoplay => true, class: "video", :fallback_content => "Your browser does not support HTML5 video tags") %>
      </div>
    <% else %>
      <div class="intro">
        <h2><%= "Hey #{current_user.pseudo} !" %></h2>
        <p>These are the top spots we selected for you according to your level and needs.</p>
      </div>
      <div class="new_search_bar">
        <%= render 'shared/searchbar_flat_index', address: @address, start_time: @start_time, travel_time: @travel_time, level: @level %>
      </div>
      <% @selected_spots.each do |spot| %>
        <%= render 'shared/card_new', spot: spot, start_time: @start_time, travel_time: @travel_time, address: @address, preferred_spots: @preferred_spots, overall_rating: @overall_rating["#{spot.id}"] %>
      <% end %>
    <% end %>
  </div>
</div>

