<div class="search-summary">
  <h1>Suggestions for <%= current_user.pseudo %></h1>
</div>
  <%= render 'shared/searchbar'%>
<div class="main-container">
  <div class="map-container">
    <%= render 'shared/map', markers: @markers%>
  </div>
  <div class="card-container">
    <div id="card-one">
      <p id="card-number">one</p>
      <%= render 'shared/card_new', spot: Spot.last %>
    </div>
    <div id="card-two">
      <p id="card-number">two</p>
      <%= render 'shared/card_new', spot: Spot.last %>
    </div>
    <div id="card-three">
      <%= render 'shared/card_new', spot: Spot.last %>
      <p id="card-number">three</p>
    </div>
  </div>
</div>



