<div class="search-summary">
  <h1>Suggestions for <%= current_user.pseudo %></h1>
</div>
  <%= render 'shared/searchbar'%>
<div class="main-container">
  <div class="map-container">
    <%= render 'shared/map', markers: @markers%>
  </div>
  <div class="card-container">
    <%= render 'shared/card_new', spot: Spot.last %>
    <%= render 'shared/card_new', spot: Spot.last %>
    <%= render 'shared/card_new', spot: Spot.last %>
  </div>
</div>



