
<div class="new_main-container-show">

  <div class="new_map-container-show" >
    <div class="spot_image" style="background-image: url(<%= cl_image_path @spot.photo %>);">
    </div>
    <%= render 'shared/map_show', markers: @markers, spot: @spot, start_time: @start_time %>
  </div>


  <div class="content_container">
    <div class="name-spot-preferred">
      <div>
        <h1> <%= @spot.name %></h1>
      </div>
      <div>
        <% if @preferred_spots.include?(@spot) %>
          <%= link_to '<i class="fas fa-heart card-heart-show"></i>'.html_safe, preferred_spot_path(@spot),
            method: :delete %>
        <% else %>
          <%= link_to '<i class="far fa-heart card-heart-show"></i>'.html_safe, spot_preferred_spots_path(@spot),
            method: :post %>
        <% end %>
      </div>
    </div>

    <h3> <%= current_user.pseudo %>, are you ready to surf here ?</h3>

    <strong><span id="itinerary-duration">-</span> min</strong>
    <strong><span id="itinerary-distance">-</span> km</strong>

    <div class="spot_search_date">
      <h3><%= render 'shared/searchbar_flat_show', spot: @spot, start_time: @start_time %></h3>
    </div>

    <div class="spot_rating">
      <div class="spot_rating_donought">
        <p class="text-left">Your matching result:</p>
          <div class="donought_size"><%= render 'shared/doughnut', rate: @overall_rating["#{@spot.id}"] %></div>
      </div>
      <div class="spot_rating_details">
        <p><%= image_tag 'tide.png', width: 30, height: 30 %>
        <% if @rating_tide["#{@spot.id}"] <= 1 %>
             tide doesn't give you best conditions
        <% else @rating_tide["#{@spot.id}"] <= 2 %>
             tide perfect for the spot
        <% end %><%#= @rating_tide["#{@spot.id}"] %>
        </p>
        <p><%= image_tag 'wave.png', width: 30, height: 30 %>
        <% if @rating_wave_msw["#{@spot.id}"] <= 1 %>
            poor wave quality
        <% elsif @rating_wave_msw["#{@spot.id}"] <= 2 %>
            pretty good wave quality
        <% else @rating_wave_msw["#{@spot.id}"] <= 2 %>
            perfect wave quality
        <% end %><%#= @rating_wave_msw["#{@spot.id}"] %>
        </p>
        <p><%= image_tag 'wave.png', width: 30, height: 30 %> <%= image_tag 'height.png', width: 30, height: 30 %>
        <% if @rating_swell["#{@spot.id}"] <= 1 %>
          not adapted to you
        <% elsif @rating_swell["#{@spot.id}"] <= 2 %>
          pretty good for you
        <% else @rating_swell["#{@spot.id}"] <= 3 %>
          perfect for you
        <% end %><%#= @rating_swell["#{@spot.id}"] %>
        </p>
        <p><%= image_tag 'spot.png', width: 30, height: 30 %>
        <% if @rating_spot_difficulty["#{@spot.id}"] < 1 %>
          spot environment not adapted to you
        <% elsif @rating_spot_difficulty["#{@spot.id}"] = 1 %>
          spot environment ok for you
        <% else @rating_spot_difficulty["#{@spot.id}"] = 1 %>
          spot environment perfect for you
        <% end %><%#= @rating_spot_difficulty["#{@spot.id}"] %>
        </p>
      </div>
    </div>

    <div class="spot_details">
      <p><%= @spot.description %></p>
      <p><strong>Seabed: </strong><%= @spot.seabed %></p>
      <p><strong>Best tide for the spot: </strong><%= @spot.best_tide %></p>
    </div>

    <div class="spot_weather">
      <h5>WEATHER <%= image_tag @weather[:weather_icon], class: "avatar-medium" %></h5>
      <div class="weather_box">
        <div class="weather_box_item">
          <p><%= image_tag 'temperature.png', width: 30, height: 30 %><%= image_tag 'water.png', width: 30, height: 30 %>   <%= @weather[:water_temperature] %> °C</p>
          <p><%= image_tag 'temperature.png', width: 30, height: 30 %><%= image_tag 'air.png', width: 30, height: 30 %>   <%= @weather[:air_temperature] %> °C</p>
        </div>
        <div class="weather_box_item">
          <p><%= image_tag 'sunrise.png', width: 25, height: 25 %>  <%= @weather[:sunrise] %></p>
          <p><%= image_tag 'sunset.png', width: 30, height: 30 %>  <%= @weather[:sunset] %></p>
        </div>
      </div>
    </div>

    <div class="spot_weather">
      <h5>WAVE - WIND</h5>
      <div class="weather_box">
        <div class="weather_box_item">
          <p><%= image_tag 'wave.png', width: 30, height: 30 %> <%= image_tag 'height.png', width: 30, height: 30 %>   <%= @weather[:swell_height] %> meters </p>
          <p><%= image_tag 'wave.png', width: 30, height: 30 %> <%= image_tag 'frequency.png', width: 30, height: 30 %>   <%= @weather[:swell_period] %> seconds</p>
        </div>
        <div class="weather_box_item">
          <p><%= image_tag 'air.png', width: 30, height: 30 %><%= image_tag 'speed.png', width: 30, height: 30 %>   <%= @weather[:wind_speed] %> km/h </p>
          <p><%= image_tag 'air.png', width: 30, height: 30 %><%= image_tag 'compass.png', width: 30, height: 30 %>   <%= @weather[:wind_direction_string] %> </p>
        </div>
      </div>
    </div>

    <div class="spot_weather">
      <h5>TIDE</h5>
      <div class="weather_box">
        <div class="weather_box_item">
          <p><%= image_tag 'tide.png', width: 30, height: 30 %><%= @weather[:tide_1_time] %>: <%= @weather[:tide_1_low_or_high].capitalize %> </p>
        </div>
        <div class="weather_box_item">
          <p><%= image_tag 'tide.png', width: 30, height: 30 %><%= @weather[:tide_2_time] %>: <%= @weather[:tide_2_low_or_high].capitalize %> </p>
        </div>
      </div>
    </div>

    <div>
      <h5>EXPERIENCES</h5>
      <div class="row">
        <% @spot.reviews.each do |review| %>
          <%= render 'shared/review_card', review: review  %>
        <% end %>
      </div>
    </div>

  </div>

</div>


