<div class="new_card-container">
  <div class="new_card-content">
    <h2><%= spot.name %></h2>
    <h3><%= "#{travel_time} min. away" %></h3>
    <div class="rate">
      <div class="rate-content">
        <p><strong>Time to surf ?</strong></p>
        <p><%= "This spot is perfect for you ! #{rate}" %></p>
      </div>
      <div class="rate-doughnut">
        <%= render 'shared/doughnut' %>
      </div>
    </div>
  </div>
  <div class="new_card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path spot.photo %>);">
  </div>
  <% if preferred_spots.include?(spot) %>
    <%= link_to '<i class="fas fa-heart card-heart"></i>'.html_safe, preferred_spot_path(spot, start_time: start_time, travel_time: travel_time, address: address),
      method: :delete,
      data: { confirm: "Do you want to exclude it from your preferred spots list ?" } %>
  <% else %>
    <%= link_to '<i class="far fa-heart card-heart"></i>'.html_safe, spot_preferred_spots_path(spot, start_time: start_time, travel_time: travel_time, address: address),
      method: :post,
      data: { confirm: "Do you want to add it to your preferred spots list ?" } %>
  <% end %>
</div>
