<div class="new_card-container" data-spot="<%= spot.id %>" id='result-<%= spot.id %>'>
  <div class="new_card-content">
    <%= link_to "", spot_path(spot, start_time: start_time, travel_time: travel_time, address: address), class: 'card-link'%>
    <h2><%= spot.name.capitalize %></h2>
    <h3><i class="fas fa-map-marker-alt"></i><%= " less than #{travel_time} km away" %></h3>
    <div class="rate">
      <div class="rate-content">
        <p><strong>Time to surf ?</strong></p>
        <p><%= "This is the matching rate according to your #{current_user.profile.level} level!" %></p>
      </div>
      <div class="rate-doughnut">
        <%= render 'shared/doughnut', rate: overall_rating %>
      </div>
    </div>
  </div>
  <div class="new_card-image" style="background-image: url(<%= cl_image_path spot.photo %>);">
    <svg class='rounded-sep' viewBox="0 0 8 225" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1 0C1 0 6.86413 56.5982 7.5 93C8.40178 144.624 0 225 0 225L1 0Z" fill="#F5F5F5"/>
    </svg>
  </div>
  <% if preferred_spots.include?(spot) %>
    <%= link_to '<i class="fas fa-heart card-heart"></i>'.html_safe, preferred_spot_path(spot, start_time: start_time, travel_time: travel_time, address: address),
      method: :delete %>
  <% else %>
    <%= link_to '<i class="far fa-heart card-heart"></i>'.html_safe, spot_preferred_spots_path(spot, start_time: start_time, travel_time: travel_time, address: address),
      method: :post %>
  <% end %>
</div>
