
<figure class="snip1360"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample43.jpg" alt="sample43" />
  <figcaption>
    <h2><%= spot.name %></h2>
    <p><%= spot.address %></p><%= link_to "#{spot.name}", spot_path(spot) %>
    <p>Condition rate: <%= conditions_rates %></p>
    <p>Matching rate: <%= matching_rates %></p>
  </figcaption>
</figure>

