
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-6">
  <div class="card-review review-container">
    <div class="background-picture" style="background-image: url(<%= asset_path "#{review.photo}" %>);">
    </div>
    <div class="card-content">
      <div class="card-comment">
         <p> "<%= review.content %>" - <%= review.created_at.strftime('%A, %b %d') %></p>
      </div>
      <div class="review-weighted-average">
      <% review.weighted_average.times do  %>
        <i class="fas fa-star"></i>
      <% end %>
      <%  (5 - review.weighted_average).times do %>
        <i class="far fa-star"></i>
      <% end %>
      </div>
      <div class="photo-user">
        <%= cl_image_tag review.surf_session.user.photo, class: "avatar-large-review" %>
      </div>
    </div>
  </div>
</div>



<!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
  <div class="review-container">
    <div class="card background-picture" style="background-image: url(<%#= asset_path "#{review.photo}" %>);">
      <div class="card-description">
        <h5> <%= review.content %></h5>
      </div>
      <div class="review-weighted-average">
        <%# review.weighted_average.times do  %>
          <i class="fas fa-star"></i>
        <%# end %>
        <%#  (5 - review.weighted_average).times do %>
          <i class="far fa-star"></i>
        <%# end %>
      </div>
        <%#= cl_image_tag review.surf_session.user.photo, class: "avatar-large-review" %>
    </div>
  </div>
</div>
 -->
