<div id="search-container">
  <div class="container">
    <div class="row">
      <%= simple_form_for :search, url: spots_path, method: 'GET' do |f| %>
      <div class="col-xs-12 col-sm-4 col-lg-4">
        <%= f.input :address, as: :string, placeholder: "Hossegor", input_html: { id: 'spot_location', value: address, class: 'form-search' }, label_html: { class: 'navbar-wagon-link' } %>
      </div>
      <div class="col-xs-12 col-sm-2 col-lg-2">
        <%= f.input :start_time, as: :string, placeholder: "YYYY-MM-DD HH:HH", input_html: { value: start_time, class: "datepicker form-search" }, label_html: { class: 'navbar-wagon-link' } %>
      </div>
      <div class="col-xs-12 col-sm-2 col-lg-2">
        <%= f.input :travel_time, label: "Travel time (min.)", placeholder: '30', as: :integer, input_html: { value: travel_time, class: 'form-search' }, label_html: { class: 'navbar-wagon-link' } %>
      </div>
      <div class="col-xs-12 col-sm-2 col-lg-2">
        <%= f.input :level, prompt: current_user.profile.level, selected: current_user.profile.level, input_html: { label: 'Your surfing level', value: level, class: 'select2' }, label_html: { class: 'navbar-wagon-link' }, collection: Profile::LEVELS %>
      </div>
      <div class="col-xs-12 col-sm-2 col-lg-2 index-style">
        <%= f.button :submit, "Surf's up!", class: "btn btn-primary btn-style" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
