<div id="search-container">
  <div class="form-wrapper form-style">
    <h3>Find a spot</h3>
    <%= simple_form_for :search, method: "get" do |f| %>
      <%= f.input :location, as: :string, placeholder: "Hossegor", required: true, input_html: { id: 'spot_location'}  %>
      <%= f.input :start_time, as: :string, required: true, placeholder: "YYYY-MM-DD 09:00", input_html: {class: "datepicker"} %>
      <%= f.input :travel_time, label: "Travel time (minutes)", placeholder: '30', as: :integer, required: true %>
      <%= f.button :submit, "Surf's up!", class: "btn btn-primary btn-style" %>
    <% end %>
  </div>
</div>
