<div id="search-container">
  <div class="<%= controller_name == 'home' ? 'form-wrapper' : 'index-style' %>">
    <div class="container">
      <div class="row">
        <%= simple_form_for :spot, url: spots_path, method: 'GET' do |f| %>
        <div class="col-xs-12 col-sm-4 col-lg-4">
          <%= f.input :address, as: :string, placeholder: "Hossegor", input_html: { id: 'spot_location'} %>
        </div>
        <div class="col-xs-12 col-sm-2 col-lg-2">
          <%= f.input :start_time, as: :string, placeholder: "YYYY-MM-DD HH:HH", input_html: {class: "datepicker"} %>
        </div>
        <div class="col-xs-12 col-sm-2 col-lg-2">
          <%= f.input :travel_time, label: "Travel time (min.)", placeholder: '30', as: :integer %>
        </div>
        <div class="col-xs-12 col-sm-2 col-lg-2">
          <%= f.input :level, prompt: current_user.profile.level, selected: current_user.profile.level, input_html: { label: 'Your surfing level', class: 'select2' }, collection: Profile::LEVELS %>
        </div>
        <div class="col-xs-12 col-sm-2 col-lg-2 index-style">
          <%= f.button :submit, "Surf's up!", class: "btn btn-primary btn-style" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
