<div class="tab_container">
  <div class="leftbox">
    <nav>
      <a id="profile" class="active"><i class="fa fa-user"><p class="text2">Infos</p></i></a>
      <a id="payment"><i class="fa fa-user-cog"><p class="text2">Profile</p></i></a>
      <a id="subscription"><i class="fa fa-heart"><p class="text2">Preferred spots</p></i></a>
      <a id="privacy"><i class="fas fa-water"><p class="text2">Surf sessions</p></i></a>
      <a id="settings"><i class="fa fa-cog"><p class="text2">Settings</p></i></a>
    </nav>
  </div>
  <div class="rightbox">
    <div class="profile">
      <h1>Personal Infos<%= link_to ' | Update', edit_user_registration_path, class: "navbar-wagon-link" %></h1>
      <h2>Avatar</h2>
      <%= cl_image_tag current_user.photo, class: "avatar-large" %>
      <h2>Username</h2>
      <p><%= "#{current_user.pseudo}" %><button class="tab_btn">update</button></p>
      <h2>Email</h2>
      <p><%= "#{current_user.email} " %><button class="tab_btn">update</button></p>
      <h2>Password </h2>
      <p>••••••• <button class="tab_btn">Change</button></p>
    </div>

    <div class="payment noshow">
      <h1>Profile<%= link_to ' | Update', edit_profile_path(current_user), class: "navbar-wagon-link" %></h1>
      <h2>Address</h2>
      <% if current_user.profile.nil? %>
        <p><%= "To de defined" %><button class="tab_btn">update</button></p>
      <% else %>
        <p><%= "#{current_user.profile.address}" %><button class="tab_btn">update</button></p>
      <% end %>
      <h2>Surfing level</h2>
      <p><%= "#{@level}" %><button class="tab_btn">update</button></p>
      <p>Your surf level is a <u>very important factor</u> in determining which spots are best for you.</p>
      <ol>
        <li>Beginner:     wave height less than 1 meter</li>
        <li>Intermediate: wave height less than 1.5 meter</li>
        <li>Advanced:     wave height less than 2.0 meters</li>
        <li>Expert:       you can surf anywhere ;)</li>
      </ul>
    </div>

    <div class="subscription noshow">
      <div class="sub-tab">
        <h1><%= "Preferred spots" %><%#= link_to ' | Add a spot', new_preferred_spot_path, class: "navbar-wagon-link" %></h1>
        <ul>
          <ul class="list-inline bookings">
            <li style= "width: 15%;"><h2><%= "Name" %></h2></li>
            <li style= "width: 25%;"><h2><%= "Address" %></h2></li>
            <li style= "width: 15%;"><h2><%= "Best_tide" %></h2></li>
            <li style= "width: 15%;"><h2><%= "Difficulty" %></h2></li>
            <li style= "width: 30%;"><h2><%= "Image" %></h2></li>
          </ul><hr style="margin-top: 0; margin-bottom: 0">
          <div class="sub-tab-content">
            <% i = 0 %>
            <% @preferred_spots.count.times do %>
              <% spot = Spot.find(@preferred_spots[i].spot_id) %>
              <ul class="list-inline bookings">
                <li style= "width: 15%;"><h2><%= spot.name %></h2></li>
                <li style= "width: 25%;"><h2><%= spot.address %></h2></li>
                <li style= "width: 15%;"><h2><%= spot.best_tide %></h2></li>
                <li style= "width: 15%;"><h2><%= spot.difficulty_level %></h2></li>
                <li style= "width: 30%;"><h2><img class="avatar-large" src="<%= spot.photo %>"><%= link_to ' Details ', spot_path(spot), class: "navbar-wagon-link" %><%= link_to ' | Delete ', preferred_spot_path(spot), method: :delete, data: { confirm: "Do you want to exclude it from your preferred spots list ?" }, class: "navbar-wagon-link" %></h2></li>
              </ul>
              <% i = i + 1 %>
            <% end %>
          </div>
        </ul>
      </div>
    </div>

    <div class="privacy noshow">
      <div class="sub-tab">
        <h1><%= "Surf sessions" %></h1>
        <ul>
          <ul class="list-inline bookings">
            <li style= "width: 13%;"></li>
            <li style= "width: 13%;"><h2><%= "Name" %></h2></li>
            <li style= "width: 13%;"><h2><%= "Date" %></h2></li>
            <li style= "width: 13%;"><h2><%= "Best Tide" %></h2></li>
            <li style= "width: 13%;"><h2><%= "Difficulty" %></h2></li>
            <li style= "width: 35%;"><h2><%= "Image" %></h2></li>
          </ul><hr style="margin-top: 0; margin-bottom: 0">
          <div class="sub-tab-content">
            <% @surf_sessions.each do |session|%>
            <ul class="list-inline bookings" id="session-<%= session.id %>">
              <li style= "width: 13%;" id="preferred-spot-for-<%= session.id %>">
                <%= render 'shared/preferred_spot', spot: session.spot %>
              </li>
              <li style= "width: 13%;"><h2><%= session.spot.name %></h2></li>
              <li style= "width: 13%;"><h2><%= session.start_time.strftime('%d/%m/%Y') %></h2></li>
              <li style= "width: 13%;"><h2><%= session.spot.best_tide %></h2></li>
              <li style= "width: 13%;"><h2><%= session.spot.difficulty_level %></h2></li>
              <li style= "width: 35%;">
                <h2>
                  <img class="avatar-large" src="<%= session.spot.photo %>"><%= link_to ' Details ', spot_path(session.spot, start_time: session.start_time), class: "navbar-wagon-link" %><%= link_to ' | Delete ', surf_session_path(session), method: :delete, remote: true, data: { confirm: "Are you sure you want to delete this session?" }, class: "navbar-wagon-link" %>
                  <span class="review-modal navbar-wagon-link" data-toggle="modal" data-target="#session-review-<%= session.id %>">
                    | Review
                  </span>
                </h2>
              </li>
              <div class="modal fade" id="session-review-<%= session.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <%= simple_form_for [ session, @review ] do |f| %>
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title" id="myModalLabel">Add a review for <%= session.spot.name %> </h3>
                      </div>
                      <div class="modal-body">
                        <div class="form">
                          <%= f.input :content, label: "What did you think of this spot?", placeholder: 'Great waves!' %>
                          <%= f.input :condition, input_html: { min: '0', max: '5', step: 'any' }, label: "How would you rate the surfing conditions of this beach? (/5)" %>
                          <%= f.input :access, input_html: { min: '0', max: '5', step: 'any' }, label: "How would you rate the access to this beach? (/5)" %>
                          <%= f.input :facilities, input_html: { min: '0', max: '5', step: 'any' }, label: "How would you rate the facilities at this beach? (/5)" %>
                          <%= f.input :photo, input_html: { class: 'hidden photo-input', id: "photo-#{session.id}", "data-target" => "photo-preview-#{session.id}"}, label_html: { class: 'upload-photo', for: "photo-#{session.id}" }, label: '📷 Upload a photo' %>
                          <%= f.input :photo_cache, as: :hidden %>
                          <%= cl_image_tag "", width: 300, class: "hidden", id: "photo-preview-#{session.id}" %>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <%= f.submit "Create a review", class:"btn-flat-style-index" %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </ul>
            <% end %>
          </div>
        </ul>
      </div>
    </div>


<!-- <#%= link_to ' | Add a review', new_surf_session_review_path(session), method: :get%> -->

        <!-- <ul>
          <ul class="list-inline bookings">
            <li style= "width: 15%;"><h2><%#= "BOOKING N°" %></h2></li>
            <li style= "width: 15%;"><h2><%#= "Title" %></h2></li>
            <li style= "width: 15%;"><h2><%#= "Author" %></h2></li>
            <li style= "width: 15%;"><h2><%#= "Price" %></h2></li>
            <li style= "width: 40%;"><h2><%#= "Rent Period" %></h2></li>
          </ul><hr style="margin-top: 0; margin-bottom: 0">
          <div class="sub-tab-content">
            <%# @bookings.each do |booking| %>
              <ul class="list-inline bookings">
                <li style= "width: 15%;"><h2><%#= "00#{booking.id}" %></h2></li>
                <li style= "width: 15%;"><h2><%#= booking.painting.name %></h2></li>
                <li style= "width: 15%;"><h2><%#= booking.painting.author %></h2></li>
                <li style= "width: 15%;"><h2><%#= "#{booking.total_paid} €" %></h2></li>
                <li style= "width: 40%;"><h2><%#= "from #{booking.start_date} to #{booking.end_date}.  " %><%#= link_to 'Edit', edit_painting_booking_path(booking.painting, booking), class: "navbar-wagon-link" %></h2></li>
              </ul>
            <%# end %>
          </div>
        </ul> -->
      </div>
    </div>
 <div class="settings noshow">
      <h1>Account Settings</h1>
      <h2>Sync Watchlist to My Stuff<button class="tab_btn">sync</button></h2>
      <p></p>
      <h2>Hold Your Subscription<button class="tab_btn">hold</button></h2>
      <p></p>
      <h2>Cancel Your Subscription <button class="tab_btn">cancel</button></h2>
      <p></p>
      <h2>Your Devices <button class="tab_btn">Manage Devices</button></h2>
      <p></p>
      <h2>Referrals <button class="tab_btn">get $10</button></h2>
   <p></p>
    </div>
  </div>
</div>
