<div class="where-search">
  <h3><strong>1</strong>/ 2</h3><br>
  <%= simple_form_for :search, url: spots_path, method: 'GET' do |f| %>
    <%= f.input :address, as: :string, placeholder: "Where", input_html: { class: 'spot_location form-flat-search where-trigger'}, label: false, required: true %>
   <!--  <i class="far fa-calendar-alt date-index datepicker-icon"></i> -->
    <%= f.input :start_time, as: :string, as: :hidden, placeholder: "When", input_html: { class: 'form-flat-index datepicker'}, label: false, required: true %>
  <!--       <div class="placeholder-index-form">minutes away</div> -->
    <%= f.input :travel_time, required: true, as: :integer, as: :hidden, input_html: { class: 'form-flat-index'}, label: false %>
    <%= f.input :level, as: :hidden, input_html: { value: @level } %>
    <%= f.button :submit, "Surf's up!", class: "btn btn-primary btn-flat-style-index hidden" %>
  <% end %>
</div>
