<div class="when-search">
  <div style="display: flex; align-items: center;"><h3 id="big-step">2 </h3><h3>/2 Tell me now when you want to surf !</h3></div>
  <%= simple_form_for :search, url: spots_path, method: 'GET' do |f| %>
    <%= f.input :address, as: :string, as: :hidden, placeholder: "Where", input_html: { value: address, class: 'spot_location form-flat-search'}, label: false, required: true %>
    <i class="far fa-calendar-alt date-index datepicker-icon"></i>
    <%= f.input :start_time, as: :string, placeholder: "When", input_html: { class: 'form-flat-index datepicker'}, label: false, required: true %>
  <!--       <div class="placeholder-index-form">minutes away</div> -->
    <%= f.input :travel_time, required: true, as: :integer, as: :hidden, input_html: { class: 'form-flat-index'}, label: false %>
    <%= f.input :level, as: :hidden, input_html: { value: @level } %>
    <%= f.button :submit, "Surf's up!", class: "btn btn-primary btn-flat-style-index hidden" %>
  <% end %>
</div>
